<div class="center jumbotron">
  <h1>Podcast Metadata Api Home Page</h1>
  <p class="lead">Rails driven application wrapping metadata around podcasts</p>
</div>
<div class="col-md-8">
  <section class="podcasts">
    <p> podcasts go here</p>
    <%= @podcasts %>
    <%= @users %>
  </section>
</div>
<div class="col-md-4">
</div>
