<h1>Account Activation</h1>
<p>Hello <%= @user.name %></p>

<p>
  Thanks for registering at podcastfor.me
</p>

<p>
  Click the link below to complete your registration:
</p>

<%= link_to "Activate", edit_api_account_activation_url(@activation_token, email: @user.email) %>
